<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="d-inline-flex w-100 text-center shadow p-3" style="background-color: rgb(55 210 255 / 20%)">
    <a href="/" class="btn btn-dark position-absolute" style="padding: 15px">&lt; Назад</a>
    <h1 class="w-100">Администрация</h1>
</div>
<div id="admin"></div>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>